.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {   
    -fx-background-color: derive;
    -fx-stroke: transparent;
    -fx-size:50;
    -fx-alignment: CENTER ;    
    -fx-text-alignment: center;

}
.table-row-cell:filled:hover {

    -fx-size:50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;


}
.table-view:row-selection {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 50;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;

}

.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER 

}
.combo-box,
.choice-box {
    -fx-font-size: 12px;
    -fx-prompt-text-fill: black;
    -fx-text-fill: black;
    -fx-background-color: none;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #bdbdbd;
    -fx-padding: 0 0 3 -8;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: black;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #4d4d4d;   
}